//- ====================
//- 【概要】 top　> mv
//- 【詳細】
//- ====================
mixin mv()
  include ./common/_title.pug
  include ./common/_button.pug

  section.c-section(class="pt-[1.875rem]")
    .c-section__inner.relative
      ul.js-storeSlider.c-slider
        - for (var val = 1; val <= 4; val++)
          li.js-storeSlider__item.c-slider__item
            picture
              source(media="(min-width: 768px)", srcset=`${dirPath}assets/images/top/mv_img_${val}_pc.webp`)
              img.w-full(src=`${dirPath}assets/images/top/mv_img_${val}_sp.webp`, alt="", width=`1250`, height=`650`, decoding=`async`, loading=`eager`)
      h1.absolute(class="top-[50%] left-[50%] -translate-x-1/2 -translate-y-1/2")
        img(class="w-[17.063rem] tablet:w-[10.25rem]" src=`${dirPath}assets/images/common/logo_img_1.svg`, alt="SAUNA PRO TEAM RUSH 可能性超無限大のサウナ屋", width=`164`, height=`144 `, decoding=`async`, loading=`eager`)
      .absolute(class="top-0 left-[50%] -translate-x-1/2 -translate-y-1/2 whitespace-nowrap font-black font-en tracking-[.15em] text-[1.25rem] text-black tablet:text-[1rem]") サウナ専門施工会社｜SAUNA PRO TEAM RUSH
    div(class="absolute bottom-[-1.563rem] left-[50%] -translate-x-1/2 rotate-[-7deg] w-full tablet:bottom-[0.625rem]")
      ul.c-autoSlider
        li
          img.c-labelImage(src=`${dirPath}assets/images/common/label_yellow.webp`, alt="Sauna Pro Team RUSH", width=`1363`, height=`30`, decoding=`async`, loading=`eager`)
        li
          img.c-labelImage(src=`${dirPath}assets/images/common/label_yellow.webp`, alt="Sauna Pro Team RUSH", width=`1363`, height=`30`, decoding=`async`, loading=`eager`)
        li
          img.c-labelImage(src=`${dirPath}assets/images/common/label_yellow.webp`, alt="Sauna Pro Team RUSH", width=`1363`, height=`30`, decoding=`async`, loading=`eager`)
        li
          img.c-labelImage(src=`${dirPath}assets/images/common/label_yellow.webp`, alt="Sauna Pro Team RUSH", width=`1363`, height=`30`, decoding=`async`, loading=`eager`)